button {
  padding: 15px;
  background-color: transparent;
  border: 3px solid #7ecddd;
  border-radius: 8px;
  font-size: large;
  font-weight: bold;
  transition: all 0.3s ease, color 0.3s ease;
}

button:hover {
  background-color: #7ecddd;
  color: #f2f2f0;
  cursor: pointer;
}
