.form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 80px auto;
  font-size: 20px;
  width: 75%;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgb(0, 0, 0, 0.4);
  box-sizing: border-box;
}

.header {
  margin: 50px;
  margin-bottom: 20px;
  font-size: 35px;
  position: relative;
}

.header::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  height: 3px;
  width: 27px;
  border-radius: 8px;
  background-color: #7ecddd;
}

.details {
  margin: 20px 50px;
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 30px;
  margin: 6px 0;
}

.fields {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.buttoncontainer {
  margin-left: 20px;
  margin-top: 30px;
  margin-bottom: 50px;
  display: flex;
  justify-content: flex-start;
}

.addresstext {
  margin: 15px 0;
  color: #888;
  font-size: 1rem;
}

.privacypolicy {
  display: flex;
  align-items: center;
}

@media (max-width: 950px) {
  .buttoncontainer {
    justify-content: center;
  }
}
