* {
  box-sizing: border-box;
}

nav {
  color: #0e0e0e;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 1.5rem 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  font-size: 1.3rem;
  position: sticky;
  top: 0;
  background-color: #f3f3f3;
  z-index: 999;
}

.headerimg {
  height: 4vh;
}

nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
}

nav a {
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: block;
  padding: 0.25rem;
}

nav ul li {
  min-width: 0;
  padding: 10px;
  border-radius: 10px;
}

nav li:hover {
  color: #f3f3f3;
  background-color: #7ecddd;
}

nav .menu {
  display: none;
  position: absolute;
  top: 2.5rem;
  right: 0.5rem;
  width: 2.25rem;
  height: 2rem;
}

@media (max-width: 950px) {
  nav .menu {
    display: flex;
  }

  nav {
    flex-direction: column;
    align-items: start;
  }

  nav ul {
    display: none;
    flex-direction: column;
    width: 100%;
    margin-bottom: 0.25rem;
  }

  nav ul.open {
    display: flex;
  }

  nav ul li {
    width: 100%;
    text-align: center;
  }
}
