.headercontainer {
  text-align: center;
  margin: 50px;
}

.headercontainer h1 {
  font-size: 4rem;
}

.headercontainer h3 {
  color: #888;
  font-size: 2rem;
}

.buttoncontainer {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

Button {
  margin: 30px;
  width: 200px;
}

.info {
  display: flex;
  justify-content: center;
}

.infocontainer {
  margin-top: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.infocard {
  border-radius: 15px;
  margin: 40px;
  box-shadow: 0 4px 8px rgb(0, 0, 0, 0.4);
  flex: 1;
  max-width: 300px;
  text-align: left;
}

.infocard img {
  max-width: 100%;
  height: auto;
  display: block;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.infocardtext {
  padding: 20px;
}

.infocard p {
  color: #888;
}

@media (max-width: 950px) {
  .infocontainer {
    flex-direction: column;
  }

  .headercontainer h1 {
    font-size: 2rem;
  }

  .headercontainer h3 {
    font-size: 1rem;
  }

  .buttoncontainer {
    margin-top: 15px;
  }

  Button {
    margin: 10px;
    height: 70px;
  }

  .infocontainer {
    margin-top: 20px;
  }

  .infocard {
    margin: 10px;
  }

  .buttoncontainer {
    flex-direction: column;
  }
}
